<%= render "shared/header" %>

<div class="shop-show">
  <%if current_user.id == @shop.user_id %>
    <%= link_to "Edit", edit_shop_path(@shop.id), method: :get, class: "shop-edit-btn" %>
    <%= link_to "Destroy", shop_path(@shop.id), method: :delete, class: "shop-destroy-btn"%>
  <% end %>

  <div class="shop-img-content">
    <%= image_tag @shop.image ,class:"shop-box-img"%>
  </div>
  <table class="detail-table">
    <tbody>
      <tr>
        <th class="detail-shop">Shop名</th>
        <td class="detail-value"><%= @shop.name %></td>
      </tr>
      <tr>
        <th class="detail-shop">カテゴリー</th>
        <td class="detail-value"><%= @shop.category.name %></td>
      </tr>
      <tr>
        <th class="detail-shop">Address</th>
        <td class="detail-value"><%= @shop.address %></td>
      </tr>
      <tr>
        <th class="detail-shop">Shop情報</th>
        <td class="detail-value"><%= @shop.explain %></td>
      </tr>
    </tbody>
  </table>

  <%= link_to "Food情報追加", new_shop_food_path(shop_id: @shop.id), class:"new-food"%>

  <div class="food-contents">
    <h2 class="title">Food一覧</h2>
    <ul class="food-lists">
      <% @foods.each do |food|%>
        <li class="list">
          <%= link_to edit_shop_food_path(shop_id: @shop.id, id: food.id) do %>
            <div class="food-img-content">
              <%= image_tag food.image, class: "food-img" if food.image.attached? %>
            </div>
            <div class="food-info">
              <div class="food-user-nickname">
                <%= food.user.nickname %>
              </div>
              <h3 class="food-name">
                <%= food.name %>
              </h3>
              <div class="food-explain">
                <%= food.explain %>
              </div>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<%= render "shared/footer" %>