<%= render "shared/header" %>

<div class="shop-show">
  <div class="btn-contents">
    <% if user_signed_in? && current_user.id == @shop.user_id %>
      <%= link_to "Edit", edit_shop_path(@shop.id), method: :get, class: "shop-edit-btn" %>
      <%= link_to "Destroy", shop_path(@shop.id), method: :delete, class: "shop-destroy-btn"%>
    <% end %>
  </div>

  <div class="shop-img-content">
    <%= image_tag @shop.image, class:"shop-box-img"%>
  </div>
  <div class="table-contents">
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-shop">投稿者</th>
          <td class="detail-value"><%= @shop.user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-shop">Shop名</th>
          <td class="detail-value"><%= @shop.name %></td>
        </tr>
        <tr>
          <th class="detail-shop">カテゴリー</th>
          <td class="detail-value"><%= @shop.category.name %></td>
        </tr>
        <tr>
          <th class="detail-shop">Address</th>
          <td class="detail-value"><%= @shop.address %></td>
        </tr>
        <tr>
          <th class="detail-shop">Shop情報</th>
          <td class="detail-value"><%= @shop.explain %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="food-title-content">
  <h2 class="food-title">Food Lists</h2>
</div>

<div class="food-contents">  
  <% if user_signed_in?%>
    <div class="new-food-btn">
        <%= link_to "Food情報追加", new_shop_food_path(shop_id: @shop.id), class:"new-food"%>
    </div>
  <% end %>
  <ul class="food-lists">
    <% @foods.each do |food|%>
      <li class="list">
        <%= link_to edit_shop_food_path(shop_id: @shop.id, id: food.id) do %>
          <div class="food-img-content">
            <%= image_tag food.image, class: "food-img" if food.image.attached? %>
          </div>
        <% end %>
        <div class="food-info">
          <table>
            <tbody>
              <tr>
                <th class="food-user-nickname">投稿者：</th>
                <td><%= food.user.nickname %></td>
              </tr>
              <tr>
                <th class="food-name">Food名：</th>
                <td><%= food.name %></td>
              </tr>
              <tr>
                <th class="food-explain">Food情報：</th>
                <td><%= food.explain %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>
    <% end %>
  </ul>
</div>


<%= render "shared/footer" %>