<header class='top-page-header'>
  <div class="header-title">
    <%# <%= link_to image_tag("cooltext378847049971190.png", class:"title-icon"), "/"%> タイトルロゴ
  </div>
  <div class="nav">
    <ul class="lists-right">
      <%# <% if user_signed_in? %>
        <li><%= link_to "nickname", "#", class: "user-nickname" %></li>
        <li><%= link_to "ログアウト", "#", class: "logout" %></li>
      <%# <% else %>
        <li><%= link_to "ログイン", "#", class: "login" %></li>
        <li><%= link_to "サインアップ", new_user_registration_path, class: "sign-up" %></li>
      <%# <% end %> 
    </ul>
  </div>
</header>